{% if theme == 'dark' %} 
  {% extends "layout-dark.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block title%}Ajustes{% endblock %}


{% block header %}Ajustes y configuración{% endblock %}


{% block section %}

<h2 class="h5">Cambiar el tema</h2>
<div class="form-check form-switch">
  <form action="/ajustes" method="post" id="theme">
    <label class="form-check-label" for="flexSwitchCheckDefault">Activate dark-mode</label>
    <input class="form-check-input" type="checkbox" role="switch" id="btnSwitch" {% if theme == 'dark' %} checked {% endif %}>
    <input type="hidden" name="color_mode" role="switch" id="color_mode">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <Br></Br>
  </form>
</div>
<button type="submit" form="theme" class="btn btn-primary">Guardar configuración</button>

<hr>
<h2 class="h5">Cambiar contraseña</h2>
<a class="btn btn-secondary" href="/change-password">Cambiar la contraseña</a>

<script>
  document.getElementById('btnSwitch').addEventListener('click', () => {
    const currentTheme = document.documentElement.getAttribute('data-bs-theme');
    const colorModeInput = document.getElementById('color_mode');

    // Update data-bs-theme and color_mode value based on current theme
    if (currentTheme === 'dark') {
      document.documentElement.setAttribute('data-bs-theme', 'light');
      colorModeInput.value = 'light';
    } else {
      document.documentElement.setAttribute('data-bs-theme', 'dark');
      colorModeInput.value = 'dark';
    }
  });
</script>
{% endblock %}
