{% if theme == 'light' %} 
  {% extends "layout.html" %}
{% else %}
  {% extends "layout-dark.html" %}
{% endif %}


{% block title %}Editar registro{% endblock %}

{% block section %}

<div class="container">
    <h2 style="text-align: center">Datos generales del equipo</h2>
    <form action="/edit-register/{{ registro['id_equipo']}}" method="post" class="row">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="col-md-4">
        <label for="nombre_pc">Nombre del equipo:</label>
        <input name="nombre_pc" value="{{ registro['nombre'] }}" placeholder="Nombre_Equipo" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        <label for="tipo_pc">Tipo:</label>
        <input name="tipo_pc" value="{{ registro['tipo'] }}" placeholder="Tipo" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        <label for="marca_pc">Marca:</label>
        <input name="marca_pc" type="text" value="{{ registro['marca'] }}" autocomplete="off" class="form-control mb-2">
      </div>
  
      <div class="col-md-4">
        <label for="modelo_pc">Modelo:</label>
        <input name="modelo_pc" value="{{ registro['modelo'] }}" placeholder="Modelo" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        <label for="n_identificador_pc">N° identificador:</label>
        <input name="n_identificador_pc" value="{{ registro['n_identificador'] }}" placeholder="N° identificador" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        <label for="ubicacion_pc">Ubicacion:</label>
        <input name="ubicacion_pc" value="{{ registro['ubicacion'] }}" placeholder="Ubicacion" type="text" autocomplete="off" class="form-control mb-2">
      </div>
  
      <div class="col-md-4">
        <label for="estado_pc">Estado del equipo:</label>
        <input name="estado_pc" value="{{ registro['estado'] }}" placeholder="Estado" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        <label for="observaciones_pc">Observaciones:</label>
        <input name="observaciones_pc" placeholder="Observaciones" type="text" autocomplete="off" class="form-control mb-2">
      </div>
      <div class="col-md-4">
        </div>
  
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary my-4">Editar</button>
      </div>
    </form>
  </div>

{% endblock %}