{% if theme == 'dark' %} 
  {% extends "layout-dark.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block title %}Ver registro{% endblock %}

{% block header %}Ver registro{% endblock %}

{% block export1 %}
{% if datos['equipos'][0] %} 
    <form method="POST" action="/export-registro">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">            
      <input type="hidden" name="id_eq" value="{{datos['equipos'][0]['id_equipo']}}">
      <button type="submit" class="btn btn-sm btn-outline-secondary">Exportar</button>
    </form>
  {% endif %}
  {% endblock %}


{% block section %}
<div class="container-fluid">
    <h3 class="text-center mt-4">Datos del Equipo</h3>
    {% if datos['equipos'][0] %} 
    <table class="table table-striped table-sm table-hover table-bordered text-center align-middle my-3">
          <thead>
            <td>Nombre</td>
            <td>Tipo</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>N° identificador</td>
            <td>Ubicacion</td>
            <td>Estado</td>
            <td>Observaciones</td>
        </thead>
        <tbody>
            {% for equipo in datos["equipos"] %}
            <tr>
                <td>{{ equipo["nombre"].title() }}</td>
                <td>{{ equipo["tipo"].title() }}</td>
                <td>{{ equipo["marca"].title() }}</td>
                <td>{{ equipo["modelo"].title() }}</td>
                <td>{{ equipo["n_identificador"].title() }}</td>
                <td>{{ equipo["ubicacion"].title() }}</td>
                <td>{{ equipo["estado"].title() }}</td>
                <td>{{ equipo["observaciones"].title() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay datos para mostrar en esta tabla</p>
    {% endif %}  


    <h3 class="text-center mt-4">Datos de componentes de hardware</h3>
    {% if datos['hw'][0] %} 
    <table class="table table-striped table-sm table-hover table-bordered text-center align-middle my-3">
        <thead>
            <td>Tipo</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>N° Serie</td>
            <td>Especificaciones</td>
            <td>Capacidad</td>
        </thead>
        <tbody>
            {% for hw in datos["hw"] %}
            <tr>
                <td>{{ hw["tipo"].title() }}</td>
                <td>{{ hw["marca"].title() }}</td>
                <td>{{ hw["modelo"].title() }}</td>
                <td>{{ hw["n_serie"].title() }}</td>
                <td>{{ hw["especificaciones"].title() }}</td>
                <td>{{ hw["capacidad"].title() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay datos para mostrar en esta tabla</p>
    {% endif %}  


    <h3 class="text-center mt-4">Datos de sistema operativo</h3>
    {% if datos['so'][0] %} 
    <table class="table table-striped table-sm table-hover table-bordered text-center align-middle my-3">
        <thead>
            <td>Nombre</td>
            <td>Edicion</td>
            <td>Arquitectura</td>
            <td>Desarrollador</td>
            <td>Licencia</td>
        </thead>
        <tbody>
            {% for so in datos["so"] %}
            <tr>
                <td>{{ so["nombre"].title() }}</td>
                <td>{{ so["edicion"].title() }}</td>
                <td>{{ so["arquitectura"].title() }}</td>
                <td>{{ so["desarrollador"].title() }}</td>
                <td>{{ so["licencia"].title() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay datos para mostrar en esta tabla</p>
    {% endif %}  


    <h3 class="text-center mt-4">Datos de programas y software</h3>
    {% if datos['sw'][0] %} 
    <table class="table table-striped table-sm table-hover table-bordered text-center align-middle my-3">
        <thead>
            <td>Categoria</td>
            <td>Nombre</td>
            <td>Version</td>
            <td>Desarrollador</td>
            <td>Licencia</td>
        </thead>
        <tbody>
            {% for sw in datos["sw"] %}
            <tr>
                <td>{{ sw["categoria"].title() }}</td>
                <td>{{ sw["nombre"].title() }}</td>
                <td>{{ sw["version"].title() }}</td>
                <td>{{ sw["desarrollador"].title() }}</td>
                <td>{{ sw["licencia"].title() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay datos para mostrar en esta tabla</p>
    {% endif %}  

</div>


{% endblock %}