{% if theme == 'dark' %} 
  {% extends "layout-dark.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block title %} Cambiar contraseña {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block section %}

<div class="form-signin w-100 m-auto">
    <form action="/change-password" method="POST">
        {% with messages = get_flashed_messages() %}
        
        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        
        {% endwith %}
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Cambiar contraseña</h1>
    
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Username" autofocus>
            <label for="floatingInput">Contraseña:</label>
        </div>
        <div class="form-floating">
            <input name="new_password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Nueva contraseña</label>
        </div>
        <div class="form-floating">
            <input name="confirm" type="password" class="form-control" id="floatingPassword_2" placeholder="Password">
            <label for="floatingPassword_2">Confirmar nueva contraseña</label>
        </div>    

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-primary w-100 py-2" type="submit">Registrar</button>
    </form>
</div>

{% endblock %}