{% extends 'login-layout.html' %}

{% block title %} Crear cuenta {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block body %}

<div class="form-signin w-100 m-auto">
    <form action="/sign-up" method="POST">
        {% with messages = get_flashed_messages() %}
        
        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        
        {% endwith %}
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Registrarte</h1>
    
        <div class="form-floating">
            <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" autofocus>
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>
    
        <div class="form-check text-start my-3">
            <a href="/login">Iniciar sesión</a>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-primary w-100 py-2" type="submit">Registrar</button>
    </form>
</div>

{% endblock %}